<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="">
  <p>Noun: <input type="text" ng-model="input1"></p>
  <p>Place: <input type="text" ng-model="input2"></p>
  <p>Noun: <input type="text" ng-model="input3"></p>
  <p>Number: <input type="text" ng-model="input4"></p>
  <p>Adjective: <input type = "text" ng-model="input5"></p>
  <p>Noun: <input type = "text" ng-model="input6"></p>
  <p>Name: <input type = "text" ng-model="input7"></p>  
  <p>Name: <input type = "text" ng-model="input8"></p>

  <p>Musa I (c. 1280 – c. 1337) or Mansa Musa was the tenth Mansa, which translates to "sultan", "conqueror", or "{{input1}}",of the wealthy West African Islamic Mali Empire. At the time of Musa's rise to the throne, the Malian Empire consisted of territory formerly belonging to the Ghana Empire in present-day southern {{input2}} and in Melle (Mali) and the immediate surrounding areas. Musa held many titles, including "Emir of Melle", "Lord of the Mines of Wangara", "{{input3}} of Ghanata", and at least {{input4}} others.  Mansa Musa conquered {{input5}} cities, each with surrounding districts containing villages and estates. During his reign, Mali may have been the largest producer of {{input6}} in the world. </p>
<p>What is known about the kings of the Malian Empire is taken from the writings of Arab scholars, including Al-Umari, Abu-sa'id Uthman ad-Dukkali, Ibn Khaldun, and {{input7}}. According to Ibn-Khaldun's comprehensive history of the Malian kings, Mansa Musa's grandfather was Abu-Bakr Keita (the Arabic equivalent to Bakari or Bogari, original id unknown − not the sahabiyy Abu Bakr).  Abu-Bakr did not ascend the throne, and his son, Musa's father, {{input8}}, has no significance in the history of Mali.</p> -->

</div>
</body>
</html>